@keyframes rotating-gradient {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchButtonInner {
  position: relative;
}

.searchButtonGradient {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  filter: blur(12px) saturate(200%);
}

.searchButtonGradient::after {
  content: '';
  display: block;
  background: conic-gradient(#ea3ba7, #f3b146, #5f49f4, #ea3ba7);
  width: 100px;
  height: 100px;
  position: absolute;
  top: -30px;
  left: -20px;
  animation: rotating-gradient 5s linear infinite;
  transition: opacity linear 0.3s;
  opacity: 1;
}

.searchButton:hover .searchButtonGradient::after {
  opacity: 1;
}